<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

  <targets>
    <target name="DartTournament.WPF" xsi:type="File"
            fileName="${specialfolder:folder=LocalApplicationData}\DartTournament\logs\log.txt"
            archiveFileName="${specialfolder:folder=LocalApplicationData}\DartTournament\logs\log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="30"
            layout="${longdate} ${uppercase:${level}} [${logger}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="DartTournament.WPF" />
  </rules>
</nlog>